.formInputs {
    display: grid;
    grid-template-rows: auto;
    justify-items: left;
}

.formInputs label {
    margin-bottom: 20px;
}

.formInputs textarea, .formInputs input{
    border-radius: 10px; 
    max-width: 50ch; 
}

.formInputs input[type="checkbox"], .formInputs input[type="number"] {
    height: 30px;
    width: 50px;
}
