.Home {
  color: white; 
  text-align: center;
  /* background-image: url("https://external-preview.redd.it/EpyZ7xaDH520p9zy4xpDrg3u_LYh_EEnkMuytSthEvw.gif?s=c4f8fad1f5cea7af4aa9cf63648adc92227eaf15"); */
  height: 100vh;

 background-repeat: no-repeat
}
