.new_log h3 {
  margin-left: 25px;
  color: white;
}

.new_log {
  background-color: black;
  padding: 10px;
  margin-bottom: 20px;
  margin-top: 20px;
  height: 100vh;
  background-image: url("https://images5.alphacoders.com/417/417891.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.new_form {
  display: grid;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  font-weight: 600;
  border: 1px solid rgb(51, 68, 59);
  background-color: rgb(131, 207, 138);
  border-radius: 14px;
  opacity: 85%;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0);
}

.new_form label {
  margin-bottom: 13px;
}

.new_submit {
  width: 10%;
  padding: 5px;
  border-radius: 8px;
  color: white;
  border: 1px solid rgb(44, 57, 99);
  background-color: rgb(96, 126, 202);
}

.new_submit:hover {
  background-color: rgb(41, 71, 123);
  cursor: pointer;
  font-weight: 700;
  width: 15%;
  letter-spacing: 1.4px;
  border: 1px solid rgb(222, 176, 103);
}

input[type="text"] {
  word-wrap: break-word;
  word-break: break-all;
  width: 100%;
  padding: 5px;
  border-radius: 8px;
}

.new_back {
  width: 10%;
  padding: 5px;
  border-radius: 8px;
  color: white;
  border: 1px solid rgb(44, 57, 99);
  background-color: rgb(96, 126, 202);
}

.new_back:hover {
  background-color: rgb(41, 71, 123);
  cursor: pointer;
  width: 15%;
  font-weight: 700;
  letter-spacing: 1.5px;
  border: 1px solid rgb(222, 176, 103);
}
