.Log {
    border: 3px solid gold;
    padding: 4px;
}

h2 span {
    font-style: italic;
}

p span {
    font-weight: bold;
}

#post {
    font-size: 20px;
}

.buttons {
    display: flex;
    gap: 10px;
}

button {
    background-color: yellow;
    border: 2px solid magenta;
}

button:hover{
    font-weight: bold;
    color: magenta;
}