.edit-log-form label {
    display: block;
}

.edit-log-form {
    display: grid;
    grid-template-columns: 32fr 40fr;

    gap: 10px;

    border: 3px solid black;
    padding: 20px;
    padding-top: 17.3px;
    margin: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    width: 350px;
    box-shadow: 15px 15px black;
}

.edit-log-form label {
    text-align: right;
    font-size: smaller;
    margin: auto;
    margin-right: 0px;
}

textarea {
    resize: none;
}

#mistakesWereMadeToday {
    margin-left: -174px;
}

#daysSinceLastCrisis {
    width: 40px;
}