.new-log-form label {
    display: block;
}

.new-log-form {
    display: grid;
    grid-template-columns: 1fr 1fr;

    gap: 10px;

    border: 3px solid black;
    padding: 20px;
    margin: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    width: 350px;
    box-shadow: 15px 15px black;
}