.new {
    margin-top: 70px;
    padding: 30px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: #050539d2;
    color: #AA0078;
    text-align: center;
}


.new h2 {
    font-size: 40px;
    margin: 0;
    margin-bottom: 50px;
}

.new textarea, .new input {
    background-color: #FDC30B;
}

 input.formButton {
    justify-self: center;
    color: #050539d2;
    font-family: 'Orbitron', sans-serif;
    font-size: 18px;
    height: 50px;
    width: 200px;
}

input.formButton:hover {
    cursor: pointer;
    background-color: #AA0078;
}