.index {
    margin-top: 80px;
}
.listedLogs {
    margin-top: 50px;
}

.logs, .logsHeader {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    justify-items: center;
    align-items: center;
    border: 1px solid black;
}

.logs img {
    height: 40px;
}

.logsHeader {
    font-size: 24px;
    font-family: 'Orbitron', sans-serif;

}