nav {
    background-color: yellow;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav a {
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: magenta;
}