nav{
    background-color: #002D62;
    height: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr
}

.new-captain{
    margin-top: 30px;
    margin-left: 500px;
    height: 40px;
    background-color: azure;
    cursor: pointer;
}


.home-page-link{
color: #A9A9A9;
font-size: 30px;
margin-left: 10px;
font-family: Courier, monospace;
}

a:link{
    color: #A9A9A9;
}

a:visited{
    color: #A9A9A9
}

