.NavBar {
  display: flex;
  justify-content: space-between;
  background-color: black;
  padding: 10px;
}
.NavBar a {
  text-decoration: none;
  color: wheat;
}
.NavBar a:hover {
  text-decoration: underline;
  color: yellow;
}
.NavBar button {

  color: yellow;
  background-color: black;
}

.NavBar button {
  text-decoration: none;
  border: 3px solid yellow;
  color: transparent;
  padding: 10px 10px;
  font-size: 12px;
  font-family: sans-serif;
  transition: all 0.5s;
  position: relative;
}

.NavBar button:hover:before {
  transform: scale(1) rotatey(360deg);
  left: 0;
  opacity: 1;
}
.NavBar button:after {
  content: "New Log";
  display: flex;
  justify-content: center;
  align-items: center;
  color: yellow;
  background: rgb(34, 34, 34);
  font-size: 12px;
  top: 0;
  left: 0;
  font-family: sans-serif;
  /* letter-spacing: 5px; */
  transition: all 1s;
  height: 100%;
  width: 100%;
  position: absolute;
  transform: scale(1) rotatey(0);
  opacity: 1;
}
.NavBar button:hover:after {
  transform: scale(0) rotatey(360deg);
  left: -100%;
  opacity: 0;
}


