.nav__bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px;
  background-color: black;
  height: 100%;
  width: 100%;
}

.nav__link {
  text-decoration: none;
  margin-left: 8px;
  margin-right: 8px;
  color: white;
}

.nav__link:hover {
  color: rgb(251, 202, 117);
  text-shadow: 0px 5px 7px rgba(255, 255, 255);
}

.nav__link h3:hover {
  letter-spacing: 1px;
}

.nav__button {
  background-color: rgb(106, 87, 165);
  border-radius: 4px;
  padding: 4px;

  margin-right: 10px;
}

.nav__button:hover {
  background-color: rgb(113, 37, 127);
  transform: scale(1.1);
}
