@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Orbitron:wght@500&family=Rajdhani:wght@600&display=swap');

/* 
font-family: 'Rajdhani', sans-serif;
font-family: 'Orbitron', sans-serif;
 */

.App {
    background-image: url('./Components/assets/black-space.gif');
    background-size: cover;
    width: 100vw;
    min-height: 100vh;
    max-height: auto;
 }

 .index, .show, .new, .edit {
    margin-top: 70px;
    padding: 10px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: 'Orbitron', sans-serif;
 }
 .index h2, .show h2, .new h2, .edit h2 {
    font-size: 40px;
    margin-bottom: 40px;
 }

 .index, .new, .show {
    background-color: #050539d2;
    color: #AA0078;
 }