@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');


body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/***----- Navigation Bar -----***/
.nav{
  display: grid;     grid-template-columns: .1fr .75fr 1fr 1fr .5fr .5fr;
  width: 102vw;      height: 10vh; background-color: rgb(6, 69, 6);
}

/***----- Navigation Bar Children - Home Link, LogsLink and New Log Button -----***/
.homeLink{
  color:yellow;    text-decoration: none;
  font-size: 1.1em;  font-family: 'Alfa Slab One', cursive;
  text-shadow: -3px 0 rgb(92, 37, 92), 0 3px purple, 3px 0 purple, 0 -3px purple;
}
.logsLink{
  grid-column: 2;     margin-left: -1em;
  color:goldenrod;  text-decoration: none;
  font-size: 1.3em;   font-stretch:extra-expanded;  font-family: 'Alfa Slab One', cursive;
  text-shadow: -3px 0 rgb(92, 37, 92), 0 3px purple, 3px 0 purple, 0 -3px purple;
}
.nav button{
  grid-column: 6;      width: 5em; height: 2em;     margin-top: 2vh;   margin-left: 2vh;
  font-family: impact; font-weight: bolder;         font-size: 1.3em;  color: black; 
  border-radius: 25%;  background-color: goldenrod;   
}

/***----- Home View -----***/
.home{
 display: grid;         grid-template-rows: .5fr .5fr 1fr;
 height: 100vh;         width: 102vw;                       background-position: center;
 background-size:unset; background-color: rgb(56,32,26);  background-repeat: no-repeat;
 background-image:      url('./Images/captainLogBkgrndGreenBorderSmaller.png');
}
/* .welcome1{font-size: 4em;color: goldenrod;text-shadow:saddlebrown} */

/***----- Container for Logs List -----***/
 .logsPage{
  display: grid;         grid-template-rows: .25fr 1fr 1fr; 
  height: 90vh;          width: auto;                
  background-size:cover; background-repeat: no-repeat;                      
  background-image:      url("./Images/editLogBkgrnd.png") ; 
} 

/***----- View that will display list of logs -----***/
.logsIndex {
  grid-row: 2;           grid-template-rows: auto;
  display: grid;         grid-template-columns: 1fr; /* justify-items: center; */
  margin-left: auto;     margin-right:auto;
  height: 106%;          width: 63%;
  background-size:cover; background-repeat: no-repeat; 
  background-color:      rgba(250, 235,215,.9);
  border-radius: 5%;     border: 5px solid rgb(56,32,26);
}

/***----- Children of LogsIndex View -  Log List Heading and Log List -----***/
.logList, .logListHdg{
  display: grid;         grid-template-columns: 1fr 1fr 1fr;
  align-items: center;   margin-left: 10vw;     height: 3vh;           
  /* display:flex;justify-items: center; justify-content:space-evenly;*/
}
.logListHdg{
  font-weight: bolder;   text-decoration: underline;
  font-size: larger;     text-decoration-color: brown;
}


/***----- Container for New Log Form -----***/
.new{
  display: grid;         grid-template-rows: .25fr 1fr 1fr 1fr 1fr;
  height: 100vh;         background-repeat: no-repeat;    background-size:contain;
  width: 102vw;          background-position: center;     background-color: rgb(56,32,26);
  background-image:      url('./Images/addLogBkgrnd.png');
  }
  
/***----- New Log Form -----***/
 form {
  grid-row: 2;           display: grid;                   grid-template-columns: 1fr 1fr;
  padding: 5vh;          grid-template-rows: auto;        border-radius: 5%; 
  margin-left: auto;     background-size:cover;           border: 5px solid rgb(56,32,26); 
  margin-right:auto;     background-repeat: no-repeat;    height: fit-content;    width:60%; 
  margin-top: 15vh;      background-color:rgba(250, 235,215,.9);        
}

/***----- Children of new log form - label and input -----***/
form label{ 
  grid-column: 1;        font-weight: bold;               
  font-size: larger;     margin-left: 2vh;/*align-items:center; */ 
}

form input {
  grid-column: 2;        margin-right: 2vh;
}

form input[type="checkbox"]{
  justify-self: left;    height: 3vh; 
  width: 3vh;            border: 3px solid brown;
}

form input[type="submit"]{
  justify-self: left;    width: 25vh;                     height: 9vh;        
  color: yellow;       font-size: 2em;                  font-weight: bolder;
  background-image: url('./Images/log2.png');             background-size: contain; 
  border: 3px solid antiquewhite;                       background-repeat: no-repeat; 
 }

/***----- Show page - displays Log Details -----***/
.show{
  height: 100vh;         width: 102vw;
  background-image: url('./Images/oceanLog.png');          background-repeat: no-repeat;
  background-size: cover;                                  background-color: rgb(56,32,26);
  /* background-position: center; display: grid; grid-template-rows: .25fr 1fr 1fr 1fr 1fr; */
  }
.showLogDetails {
  grid-row: 2;           grid-template-columns: 1fr 1fr;   grid-template-rows: auto;
  display: grid;         height: 50%;                      width: 50%;
  margin-left: auto;     margin-right: auto;               margin-top: 15vh; padding: 5vh; 
  border-radius: 5%;     border:5px solid rgb(56,32,26); background-repeat: no-repeat;
  background-size:cover; background-color:rgba(250, 235,215,.9);
  }
/***----- Edit Log View -----***/
.editLogPage{
 height: 100vh;          width: 102vw;
  background-image: url('./Images/mapLog.png');            background-repeat: no-repeat;
  background-size: cover;                                  background-color: rgb(56,32,26);
}


.editLogForm{
  grid-row: 2;
  margin-top: 6vh;
}
 

.editLogHdg {
  margin-top:3em;
  font-size: 3em;
  width: 11vw;
  background-color:rgb(40, 104, 156);
  border: 5px solid rgb(92, 37, 92);
  margin-left:12.5em;
  color:antiquewhite;
  border-radius: 10%;
}

.editLogCancelHdg{
  display:inline-block;
  grid-row: 1; 
  justify-items: center;
  background-color:rgba(40, 104, 156, .7);
  color:antiquewhite;
  border-radius: 7%;
  height: 5vh;         
  width: 27.5vw;
  border: 3px solid rgb(92, 37, 92);
  justify-items: center;
  font-weight: bold;
  margin-left:10em;
  text-align: center;
  margin-left: 33em;
  font-size: 1em;
}

.cancelEditButton{
  justify-self: left;    width: 25vh;                     height: 9vh;        
  color: red;       font-size: 2em;                  font-weight: bolder;
  background-image: url('./Images/log2.png');             background-size: contain; 
  border: 3px solid antiquewhite;                       background-repeat: no-repeat;
}

.cancelLink{
  grid-column: 2;
}